/* *{
  margin: 0;
  padding: 0;
}*/

.poll-image {
  width: 100%;
  max-height: 180px;

  img{
    height: 180px;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.card-text{
  font-size: 18px;
  /* font-weight: bold; */
}
